:root {
    --bs-body-font-family: 'sriracha', sans-serif;
}

html,
body {
    min-height: 380vh;
    height: 100%;
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    min-height: 80px;
}

.custom-navbar-brand {
    font-size: 25rem;
    /* adjust size */
}

footer {
    height: 100%;
    min-height: 75vh;
}

h1 {
    padding-top: 30px;
    color: #e2e1e1;
}

h2 {
    color: #979797;
}

.carousel-item {
    height: 350px;
    width: 600px
}

.carousel {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
}

.owl-carousel {
    width: 100%;
}

/* hover effects */
.nav-link {
    color: aliceblue;
    transition: all 0.4s;
    border-radius: 70px;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.nav-link:hover {
    color: rgb(0, 135, 176);
    box-shadow: 0 7px 4px -1px rgba(0, 135, 179, 0.3);
    padding: .7rem 1.5rem;
}

/* delay */
.nav-link::after {
    transition: all 0.2s;
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
}

/* scrollbar */
/* Targets Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 8px;
    /* or whatever size you like */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    
    /* or rgba(0,0,0,0.1) for slight visibility */
    border-radius: 4px;
}
